<div class="qa-footer-bottom-group">
	<div class="qa-footer">
		<div class="qa-nav-footer">
			<ul class="qa-nav-footer-list">
				<li class="qa-nav-footer-item">
					<a href="mailto:jair_lopez4321@hotmail.com" class="qa-nav-footer-link">Contact devs</a>
				</li>
				<li class="qa-nav-footer-item">
					<a href="https://gitlab.com/jairlopez/question2answer/-/releases" class="qa-nav-footer-link">Version history</a>
				</li>
				<li class="qa-nav-footer-item">
					<a href="https://gitlab.com/jairlopez/question2answer/-/blob/master/LICENSE.md" class="qa-nav-footer-link">License details</a>
				</li>
            <!--
				<li class="qa-nav-footer-item">
					<a href="http://demo.question2answer.org/" class="qa-nav-footer-link">Demo sandbox</a>
				</li>
            --!>
			</ul>
			<div class="qa-nav-footer-clear">
			</div>
		</div>
		<div class="qa-attribution">
			Created by <a href="http://www.gidgreen.com/">Gideon Greenspan</a>
			and <a href="https://gitlab.com/jairlopez/question2answer/-/graphs/master">contributors</a>.
		</div>
		<div class="qa-footer-clear"></div>
	</div>
</div>
