<div class="qa-header">
	<div class="qa-logo">
		<a href="https://www.question2answer.org" class="qa-logo-link"><img src="{{ "/images/question2answer-logo-350x40.png" | prepend: site.baseurl }}" style="padding-top:8px;" width="350" height="40" border="0" alt="Question2Answer logo"></a>
	</div>
	<div class="qa-header-clear"></div>
</div>
