<div class="qa-nav-main">
  <ul class="qa-nav-main-list">
    {% for navpage in site.nav.main %}
      <li class="qa-nav-main-item">
        <a href="{{ navpage.path | relative_url }}" class="qa-nav-main-link">{{ navpage.name }}</a>
      </li>
    {% endfor %}
    <li class="qa-nav-main-item" style="float:right">
      <a href="https://www.question2answer.org/qa/" class="qa-nav-main-link">Question2Answer Q&amp;A</a>
    </li>
    <li class="qa-nav-main-item" style="float:right">
      <a href="https://www.question2answer.org/sites.php" class="qa-nav-main-link">Sites</a>
    </li>
  </ul>
  <div class="qa-nav-main-clear"></div>
</div>
