<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="qa-body-wrapper">
      {% include header.html %}
      <div class="qa-main-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
