---
layout: default
---

{% include nav-main.html %}
{% include nav-sub.html %}
<div class="qa-warning">This is the documentation for a <a href="https://gitlab.com/jairlopez/question2answer">modified version</a> of Question2Answer. Please click <a href="https://docs.question2answer.org/"><b>here</b></a> to go to Question2Answer's official documentation.</div>
<div class="qa-main">
  <div class="onecolumn">
    {{ content }}
  </div>
</div>
